<div
  class="xl:mx-auto md:max-w-6xl max-w-7xl mx-1 flex flex-col gap-5 min-h-screen"
>
  <div>
    <h1 class="text-4xl font-semibold text-gray-800">Find Your Dream Job</h1>
    <p class="text-gray-500">Search from thousands of job and join our Team</p>
  </div>
  <div
    class="h-32 border border-[#C5C9D6] hover:border-[#0a65cc] shadow rounded"
    *ngFor="let job of jobs; let i = index"
  >
    <div
      class="lg:mx-auto max-w-5xl h-full flex justify-between items-center mx-2"
    >
      <div class="flex flex-col justify-center gap-2">
        <div class="flex items-center gap-1 md:gap-3">
          <h1 class="font-semibold text-lg md:text-2xl">{{ job.title }}</h1>
          <p
            class="rounded-xl bg-[#fceeee] text-[#e05151] font-medium px-3 py-1 text-xs"
          >
            {{ job.experience_level }}
          </p>
          <p
            class="rounded-xl bg-[#e7f0fa] text-[#0a65cc] font-medium px-3 py-1 text-xs"
          >
            {{ job.work_type }}
          </p>
        </div>
        <div class="flex items-center gap-2">
          <img src="/calander.png" alt="calendar" class="h-4" />
          <p class="text-[#b8b8b7] text-xs">
            {{ getDaysAgo(job.expiration_date) }} days Remaining
          </p>
        </div>
      </div>
      <div [routerLink]="['/jobs', job.job_id]">
        <button
          class="flex items-center gap-2 bg-[#e7f0fa] text-[#0a65cc] px-3 py-2 rounded cursor-pointer hover:text-white hover:bg-[#0a65cc] font-medium"
        >
          <p class="hidden md:block">Apply Now</p>
          <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
