<div class="min-h-screen flex flex-col">
  <div class="flex justify-between items-center border-b pb-4">
    <div class="flex items-center space-x-4">
      <img src="/leftarrow.png" alt="left arrow" class="h-8" />
      <div>
        <h2 class="font-bold text-lg">Social Media Assistant</h2>
        <p class="text-gray-500">Design • Full-Time</p>
      </div>
    </div>

    <button
      routerLink="/post-job"
      class="px-4 p-2 my-2 bg-[#4640de] hover:bg-indigo-700 text-white rounded flex items-center gap-1"
    >
      <img src="/add.png" alt="add" class="h-[1.2rem]" />
      <span class="pt-1"> Post a job</span>
    </button>
  </div>

  <!-- Tab Navigation -->
  <div class="flex gap-5 mt-4 border-b">
    <a
      routerLink="applicants"
      routerLinkActive="isActive"
      class="pb-2 text-gray-500 hover:text-[#4640de] px-5"
      >Applicants</a
    >
    <a
      routerLink="details"
      routerLinkActive="isActive"
      class="pb-2 text-gray-500 hover:text-blue-500 px-5"
      >Job Details</a
    >
    <!-- <a routerLink="analytics" class="pb-2 text-gray-500 hover:text-blue-500"
      >Analytics</a
    > -->
  </div>

  <!-- Router Outlet for Content -->
  <div class="flex-1 p-6 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
