<ng-container *ngIf="applicationDetails">
  <div class="flex mx-auto max-w-7xl px-2 my-4 justify-between">
    <div class="flex items-center gap-4">
      <img
        src="/leftarrow.png"
        alt="arrow"
        class="h-7 cursor-pointer"
        (click)="goback()"
      />
      <h1 class="font-semibold text-lg">Applicant Details</h1>
    </div>
    <div [ngSwitch]="applicationDetails.hiring_stage">
      <div *ngSwitchCase="'pending'" class="flex gap-4">
        <app-reject-button (click)="handleReject()"></app-reject-button>
        <app-accept-button [value]="'Interview'"></app-accept-button>
      </div>
      <div *ngSwitchCase="'interview'" class="flex gap-4">
        <app-reject-button (click)="handleReject()"></app-reject-button>
        <app-accept-button [value]="'Hire'"></app-accept-button>
      </div>
      <div *ngSwitchCase="'hired'" class="text-green-600 font-semibold">
        Candidate Hired
      </div>
      <div *ngSwitchCase="'rejected'" class="text-red-600 font-semibold">
        Candidate Rejected
      </div>
    </div>
  </div>

  <div
    class="max-w-5xl mx-auto bg-white border border-gray-300 shadow-xl rounded-lg"
  >
    <!-- Tabs Section -->
    <div class="flex gap-1 border-b border-gray-200 h-[9vh]">
      <ng-container *ngFor="let label of lables; let i = index">
        <button
          class="w-1/3"
          (click)="changeTab(i)"
          [ngClass]="{
            diffrentTab: currentTab !== i,
            currentTab: currentTab === i
          }"
        >
          {{ label }}
        </button>
      </ng-container>
    </div>

    <!-- Personal Info Section -->
    <ng-container *ngIf="currentTab === 0">
      <!-- Personal Info Section -->
      <div class="p-6 bg-white rounded-lg shadow-sm">
        <h2 class="text-xl font-semibold text-[#25324B] mb-6">Personal Info</h2>
        <div class="grid grid-cols-2 gap-6">
          <div>
            <label class="text-[#7C8493] text-sm mb-1 block">First Name</label>
            <p class="font-medium text-gray-900">
              {{ applicationDetails.firstname }}
            </p>
          </div>

          <div>
            <label class="text-[#7C8493] text-sm mb-1 block">Last Name</label>
            <p class="font-medium text-gray-900">
              {{ applicationDetails.lastname }}
            </p>
          </div>

          <div>
            <label class="text-[#7C8493] text-sm mb-1 block">Email</label>
            <p class="font-medium text-gray-900">
              {{ applicationDetails.email }}
            </p>
          </div>

          <div>
            <label class="text-[#7C8493] text-sm mb-1 block"
              >Phone Number</label
            >
            <p class="font-medium text-gray-900">
              {{ applicationDetails.phone_number }}
            </p>
          </div>

          <div class="col-span-2">
            <label class="text-[#7C8493] text-sm mb-1 block"
              >LinkedIn Profile</label
            >
            <p class="font-medium text-gray-900">
              {{ applicationDetails.linkedin_url || "Not mentioned" }}
            </p>
          </div>
        </div>
      </div>

      <!-- Professional Info Section -->
      <div
        class="p-6 mt-6 bg-white rounded-lg shadow-sm border-t-2 border-gray-200"
      >
        <h2 class="text-xl font-semibold text-[#25324B] mb-4">
          Professional Info
        </h2>
        <div>
          <p class="font-medium text-gray-900 leading-relaxed">
            {{ applicationDetails.candidat_note }}
          </p>
        </div>
      </div>
    </ng-container>

    <!-- Resume Section -->
    <ng-container *ngIf="currentTab === 1">
      <object
        [data]="getPdfUrl() | safe"
        type="application/pdf"
        class="w-full h-[80vh]"
      ></object>
    </ng-container>

    <!-- AI Results Section (Tab 2) -->
    <ng-container *ngIf="currentTab === 2">
      <div class="p-6">
        <!-- Score Section -->
        <div class="mb-6">
          <h1 class="text-2xl font-semibold text-[#25324B]">
            Score: {{ applicationDetails.score }} %
          </h1>
        </div>

        <!-- Matched Keywords Section -->
        <div class="mb-6">
          <h1 class="text-lg font-semibold mb-8 text-[#25324B]">
            Matched Keywords:
          </h1>
          <div class="flex flex-wrap gap-2 mt-2">
            <span
              *ngFor="let keyword of applicationDetails.matched_keywords"
              class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full text-sm font-medium"
            >
              {{ keyword }}
            </span>
          </div>
        </div>

        <!-- AI Summary Section -->
        <div class="mb-6">
          <h1 class="text-lg font-semibold text-[#25324B]">AI Summary:</h1>
          <p class="mt-2 text-gray-700 leading-relaxed">
            {{ applicationDetails.summary }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
