<div class="p-4">
  <h1 class="my-5 font-semibold text-xl">
    Total Applications For this Job: {{ ELEMENT_DATA.length }}
  </h1>
  <div class="overflow-x-auto">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8 min-w-full"
    >
      <!-- Full Name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2">
          Full Name
        </th>
        <td mat-cell *matCellDef="let element" class="px-4 py-2">
          {{ element.fullName }}
        </td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2">
          AI Score
        </th>
        <td mat-cell *matCellDef="let element" class="px-4 py-2">
          {{ element.score }} %
        </td>
      </ng-container>

      <!-- Hiring Stage Column -->
      <ng-container matColumnDef="hiring_stage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2">
          Hiring Stage
        </th>
        <td mat-cell *matCellDef="let element" class="px-4 py-2">
          {{ element.hiring_stage }}
        </td>
      </ng-container>

      <!-- Applied Date Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2">
          Applied Date
        </th>
        <td mat-cell *matCellDef="let element" class="px-4 py-2">
          {{ element.created_at }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-2">Action</th>
        <td mat-cell *matCellDef="let element" class="px-4 py-2">
          <button
            [routerLink]="element.link"
            class="px-3 py-2 bg-blue-100 border border-blue-600 text-blue-600 font-semibold rounded"
          >
            View Application
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        [ngClass]="{ 'bg-gray-100': i % 2 === 0 }"
      ></tr>
    </table>
  </div>
  <mat-paginator
    class="pagination"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
