<div class="flex h-screen">
  <img src="/rh.jpg" alt="rh image" class="h-full hidden lg:inline-block" />
  <div
    class="w-full mx-auto max-w-3xl flex flex-col items-center justify-center"
  >
    <h1
      class="sm:text-5xl text-4xl font-semibold text-[#202430] w-2/3 text-center"
    >
      Welcome Back !
    </h1>
    <form class="w-2/3 my-4" (ngSubmit)="handleLogin(f)" #f="ngForm">
      <div class="mb-2">
        <label for="email" class="block text-sm font-medium text-gray-700 my-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Enter email address"
          email
          ngModel
          required
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-red-500 text-sm font-medium mt-1"
        >
          <p *ngIf="email.errors?.['required']">Email is required.</p>
          <p *ngIf="email.errors?.['email']">
            Please enter a valid email address.
          </p>
        </div>
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="block text-sm font-medium text-gray-700 my-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Enter password"
          ngModel
          required
          #password="ngModel"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-red-500 text-sm font-medium mt-1"
        >
          <p *ngIf="password.errors?.['required']">Password is required.</p>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center mb-4">
          <input type="checkbox" id="remember" class="mr-2" />
          <label for="remember" class="text-sm text-gray-700"
            >Remember me</label
          >
        </div>
        <div>
          <a
            routerLink="/auth/forget-password"
            class="text-sm text-indigo-600 font-medium cursor-pointer"
            >Forget Password ?</a
          >
        </div>
      </div>
      <button
        type="submit"
        [disabled]="f.invalid || loading"
        class="gap-2 w-full bg-indigo-600 disabled:opacity-60 disabled:cursor-not-allowed text-white p-2 rounded-lg shadow hover:bg-indigo-700"
      >
        <ng-container *ngIf="loading">Loading...</ng-container>
        <ng-container *ngIf="!loading">Login</ng-container>
      </button>
    </form>
    <div class="text-sm flex w-2/3">
      <p class="">
        Don't have an account
        <span
          routerLink="/auth/register"
          class="text-indigo-600 font-medium cursor-pointer"
          >Sign Up !</span
        >
      </p>
    </div>
  </div>
</div>
