<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-lg p-6 bg-white rounded">
    <h2 class="text-2xl font-semibold text-center mb-6">Reset Password</h2>
    <p class="text-center text-gray-500 mb-8">Please enter your new password</p>

    <form (ngSubmit)="handleUpdatePassword(f)" #f="ngForm">
      <div class="mb-4">
        <label
          for="new-password"
          class="block text-sm font-medium text-gray-700 my-2"
          >New Password</label
        >
        <input
          ngModel
          name="password"
          type="password"
          id="new-password"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
          #password="ngModel"
        />
        <div
          *ngIf="password.touched && password.invalid"
          class="text-red-600 text-sm"
        >
          <p *ngIf="password.errors?.['required']">Password is required.</p>
        </div>
      </div>

      <div class="mb-6">
        <label
          for="confirm-password"
          class="block text-sm font-medium text-gray-700 my-2"
          >Confirm Password</label
        >
        <input
          ngModel
          name="confirmPassword"
          type="password"
          id="confirm-password"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
          #confirmPassword="ngModel"
        />
        <div
          *ngIf="confirmPassword.touched && confirmPassword.invalid"
          class="text-red-600 text-sm"
        >
          <p *ngIf="confirmPassword.errors?.['required']">
            Confirm password is required.
          </p>
          <p *ngIf="password.value !== confirmPassword.value">
            Passwords do not match.
          </p>
        </div>
      </div>

      <button
        type="submit"
        class="gap-2 w-full bg-indigo-600 disabled:opacity-60 disabled:cursor-not-allowed text-white p-2 rounded-lg shadow hover:bg-indigo-700"
        [disabled]="!f.valid || password.value !== confirmPassword.value"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
