<div class="p-6">
  <h1 class="text-xl font-semibold mb-4">
    Welcome back,
    {{ user?.firstname + " " + user?.lastname }}
    !
  </h1>
  <p class="text-sm text-gray-600 mb-6">
    Here is your daily activities and job alerts
  </p>

  <div class="grid grid-cols-3 gap-4">
    <div
      class="bg-indigo-500 text-white p-4 rounded-lg shadow-md flex flex-col items-start"
    >
      <p class="text-4xl font-bold mb-2">{{ pendingReviews }}</p>
      <p>Candidates to review</p>
    </div>

    <!-- Schedule for Today -->
    <div
      class="bg-teal-400 text-white p-4 rounded-lg shadow-md flex flex-col items-start"
    >
      <p class="text-4xl font-bold mb-2">3</p>
      <p>Schedule for today</p>
    </div>

    <!-- Messages Received -->
    <div
      class="bg-blue-500 text-white p-4 rounded-lg shadow-md flex flex-col items-start"
    >
      <p class="text-4xl font-bold mb-2">24</p>
      <p>Messages received</p>
    </div>
  </div>
</div>
