<div class="min-h-screen w-full bg-gray-50 p-8">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-800 mb-2">
      Welcome back, {{ user?.firstname + " " + user?.lastname }}!
    </h1>
    <p class="text-md text-gray-600 mb-8">
      Here is your daily overview of activities and job alerts.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Pending Reviews -->
      <div class="bg-indigo-600 text-white p-6 rounded-xl shadow-lg">
        <p class="text-5xl font-bold mb-2">{{ pendingReviews }}</p>
        <p class="text-lg">Candidates to review</p>
      </div>

      <!-- Accepted Candidates -->
      <div class="bg-teal-500 text-white p-6 rounded-xl shadow-lg">
        <p class="text-5xl font-bold mb-2">{{ acceptedReviews }}</p>
        <p class="text-lg">Candidates accepted</p>
      </div>

      <!-- Rejected Candidates -->
      <div class="bg-blue-600 text-white p-6 rounded-xl shadow-lg">
        <p class="text-5xl font-bold mb-2">{{ rejectedReviews }}</p>
        <p class="text-lg">Candidates rejected</p>
      </div>
    </div>
  </div>
  <div>
    <div class="mt-12 bg-white p-6 rounded-xl shadow max-w-7xl mx-auto">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Job Applications Chart
      </h2>

      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'"
      ></canvas>
    </div>
  </div>
</div>
